*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Oswald", sans-serif ;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background-color: black;
    color: #fff;
}
.contenedor {
    display: grid; 
}
.navegacion-principal {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    text-decoration: none;
    
}
.navegacion-principal__marca{
    width: 40px;
    height: 40px;
}
.navegacion-principal__menu {
    display: flex;
    list-style-type: none;
    
}
.navegacion-principal__menu li a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
.navegacion-principal__menu-derecha {
    list-style-type: none 
}
.navegacion-principal__menu-derecha li a i{
    color: #fff;
}
.cabecera {
    display: grid;
    background-image: url(/Assets/img/showcase.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 30px 10px;
    justify-items: center;
    margin: 10px 0;
}
.cabecera .boton{
    display: inline; 
    text-decoration: none;
    color: #fff;
    background-color:  rgb(67, 79, 84);
    border: #fff solid;
    padding: 5px 5px;
    margin-top: 12px;
}
.tarjetas-noticias {
    display: flex;
    gap: 10px;

}
.tarjetas-noticias__tarjeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.imgTrag1{
    background-image: url(/Assets/img/news1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 170px;
}
.imgTrag2{
    background-image: url(/Assets/img/news2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 170px;
}
.imgTrag3{
    background-image: url(/Assets/img/news3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 170px;
}
.imgTrag4{
    background-image: url(/Assets/img/news4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 170px;
}

.tarjetas-noticias__tarjeta a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.banner-tarjetas-uno__contenido{
    display: grid;
    background-image: url(/Assets/img/tech-red.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-items: center;
    margin: 20px 0;
    text-align: center;
    padding: 50px;
}
.banner-tarjetas-uno__contenido .boton{
    display: inline; 
    text-decoration: none;
    color: #fff;
    background-color:  rgb(67, 79, 84);
    border: #fff solid;
    padding: 5px 5px;
    margin-top: 10px;
}
.banner-tarjetas-dos__contenido {
    display: grid;
    background-image: url(/Assets/img/Image-five.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-items: center;
    padding: 50px;
    margin: 20px 0;
    text-align: center;
}
.banner-tarjetas-dos__contenido .boton{
    display: inline; 
    text-decoration: none;
    color: #fff;
    background-color:  rgb(67, 79, 84);
    border: #fff solid;
    padding: 5px 5px;
    margin-top: 10px;
}
.social {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 30px;
}
.social__enlaces {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social__enlaces a{
    font-size: 37px;
    
}
.social__enlaces i{
    color: #fff;
    
}
.enlaces-pie {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgb(67, 79, 84);
    padding: 10px 0 20px 0;
}
.enlaces-pie__contenedor {
    display: flex;
    justify-content: space-around;
}
.enlaces-pie__lista li{
    list-style-type: none;
    margin-top: 20px;
}
.enlaces-pie__lista a{
    text-decoration: none;
    color: #fff;
}
.pie {
    display: grid;
    text-align: center;
    background-color: rgb(67, 79, 84);
    padding: 20px 0 20px 0;
    margin-bottom: 50px;
}
.pie h3{
    color: rgb(135, 163, 164);
}